/* Styles for directive1 */
circle {
	fill-opacity: 0.5;
}

/* Styles for directive2 */
path.checkin {
	fill: white;
	stroke: black;
	stroke-width: 10
}

path.boys {
	fill: red;
}

path.girls {
	fill: pink;
}
.outerCircle:first-child {
	fill : #ffffff;
	stroke : #000000;
}

#accordion .body{
   padding : 10px;
   border-top : 1px solid #ccc;
}
#accordion .header{
   margin-bottom : 0px;
   padding : 5px;
   background-color : #ccc;
   border : 0px !important;
}

#accordion .active .body {
   display : block;
}

#accordion .panel{
  border : solid 1px #D6D6D6;
  margin:5px;
  border-radius : 2px;
}